fox-listview-filter {
	position: relative;
	background: #fff;
	visibility: hidden;
}
fox-listview-filter.active {
	visibility: visible;
}

fox-listview-filter .androidFix {
	overflow: hidden !important;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

fox-listview-filter .fox-filter-left {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 30px;
	top: 0;
	bottom: 0;
}
fox-listview-filter .fox-filter-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

fox-listview-filter .fox-filter-content::-webkit-scrollbar {
	display: none;
}
fox-listview-filter .fox-filter-fixed {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
fox-listview-filter fox-filter-item {
	display: block;
}

fox-listview-filter fox-filter-title {
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	padding: 0 20px;
	background: rgb(233,233,233);
	font-weight: bold;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	top: 0;
}
fox-listview-filter fox-filter-content {
	font-size: 16px;
	display: block;
	margin-left: 20px;
}
fox-listview-filter .fox-filter-num {
	height: 14px;
	line-height: 14px;
}
fox-listview-filter .fox-filter-index-inner {
	padding: 10px;
}
fox-listview-filter .fox-filter-index {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 10px;
	bottom: 0;
	width: 30px;
	text-align: center;
	color: #EF4E3A;
	z-index: 999;
}
fox-listview-filter .fox-default-item {
	padding: 6px 0;
	border-bottom: 1px solid #B2B2B2;
}
fox-filter-content .fox-default-item:last-child {
	border-bottom: none;
}

